:root {
  --font-krona-one: "Krona One", sans-serif;

}

.krona-one-regular {
  font-family: "Krona One", sans-serif;
  font-weight: 600;
  font-style: normal;
}
body {
  font-family: var(--font-krona-one);
  
}