:root {
  --primary-color: rgb(0, 92, 169);
  --secondary-color: #007bff;
  --text-color: #333333;
  --accent-color: #f8f9fa;
  --bg-loisirs: rgba(255, 88, 51, 0.941);
  --bg-citoyens: #33c1ff;
  --bg-municipalite: rgb(40, 167, 69);
  --bg-entreprises: rgb(255, 193, 7);
  font-family: 'Krona One', sans-serif;

}
header {
  background-color: var(--primary-color);
  font-size: x-large;

}

.navbar-brand {
  margin-top: -2%;
}
.nav-link{ 
  text-shadow: #333333 0px 0.5px 0.5px;
  margin: auto;
  padding: 5px;
}

.nav-link:hover {
  font-size: 1.2rem;
  transition: 0.3s;
 }

.loisirs {
  font-size: 4rem;
  background-color: rgba(255, 88, 51, 0.5);
  border-radius: 5px;
  text-align: left;
  padding: 10px;
  width: 600px;
  height: 100px;
}


.citoyens {
    font-size: 4rem;
  background-color: rgba(51, 194, 255, 0.5);
  color: var(--text-color);
  text-align: left;
  padding: 10px;
  width: 700px;
  height: 100px;
}

.municipalite {
  font-size: 4rem;
  background-color: rgb(40, 167, 69,0.5);
  text-align: left;
  padding: 10px;
  width: 800px;
  height: 100px;
}

.entreprises {
  font-size: 4rem;
  background-color: rgb(255, 193, 7,0.5);
  text-align: left;
  padding: 10px;
  width: 900px;
  height: 100px;
}

footer {
  background-color: var(--primary-color);
  padding: 10px;
  bottom: 0;
  width: 100%;
}