:root {
  --header-bg: #1a589b;
  --text-color: #333333;
  --accent-color: rgb(248, 249, 250);
  --bg-loisirs: rgb(20, 121, 64);
  --bg-citoyens: #33c1ff;
  --bg-municipalite: rgb(212, 109, 30);
  --bg-entreprises: rgb(255, 193, 7);
  --font-body: krona-one-regular, sans-serif;
  --font-title: jetbrains-mono, monospace;
  --bg-btn-primary: #ff4005;
  --btn-primary-bg-hover: #146f2b;
}

.krona-one-regular {
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.jetbrains-mono{
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 200 700;
  font-style: normal;
}

body {
  background-color: var(--accent-color);
  color: var(--text-color);
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
}
.display-2 {
  font-family: var(--font-title);
  font-weight: 400;
}
header {
  position: relative;
  background-color: var(--header-bg);
}
.municipalite {
  background-color: var(--bg-municipalite);  }


.bg-body-hotel-de-ville {
box-shadow: var(--bg-municipalite) 0px 4px 6px 1px, var(--bg-municipalite) 20px 5px 4px 4px;
}
.bg-header-loisirs {
background-color: var(--bg-loisirs);
}

.bg-body-loisirs {
box-shadow: var(--bg-loisirs) 0px 4px 6px 1px, var(--bg-loisirs) 0px 2px 4px 1px; 
 }
 .navbar-brand {
  position: absolute;
  margin-top: 70px;
  margin-left: 50px;
}


.carousel-accueil .carousel-item {
  height:750px;
}

.carousel-accueil .carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 750px;
  object-fit: cover;
  z-index: -1;
}


.nav-scroller {
  background-color: var(--accent-color);
  border-bottom: solid 1px var(--header-bg);
  font-weight: 200;
}


footer {
  background-color: var(--header-bg);
  width: 100%;
}

